.quiz-button.correct {
    background-color: #50C878;
}

.quiz-button.wrong {
    background-color: #FA5F55;
}

#results {
  width: 20%;
  height: 5rem;
  border-radius: 5px;
  background-color: #F5F5F5;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-right: 30px;
  color: black;
}

#get-results-button{
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 1px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

#get-results-button:hover{
background-color: #3a8;
}

.button-container {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    transition: 300ms ease;
}

#refresh-button {
    width: 20%;
    height: 5rem;
    border-radius: 5px;
    background-color: #3a8;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.multiple-choice-container {
  height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  margin-top: 200px;
  margin-bottom: 500px;
}

.quiz-button {
    padding: 10px 20px;
    max-width: 500px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    transition: 200ms;
    display: flex;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transition: 300ms ease;
}

.quiz-question-box {
    max-width: 700px;
    flex-wrap: wrap;
    text-align: center;
}

.quiz-button-text {
  font-size: 1.4rem;
  text-align: center;
}

.quiz-button-icon {
    margin-right: 20px;
}

.quiz-button:first-child {
    transition: 300ms ease;
}

.quiz-button h1:nth-child(2) {
    margin-left: auto;
    transition: 300ms ease;

}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    /*width: calc(100vw - 300px);*/
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    height: 400px;
}

.quiz-container > section {
    flex: 1;
}
  

a {
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  *{
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  button:hover {
    transition: 200ms;
    transform: scale(1.2);
}
 .quiz-container::-webkit-scrollbar {
    display: none;
  }



@media (orientation: portrait) {

}

@media (orientation: landscape) {
    
}

@media only screen and (max-device-width : 1024px) {
    .quiz-container {
        margin: 0;
        margin-top: 6vh;
        padding: 5rem;
        width: 100%;
        min-width: 200px;
        height: 50%;
        min-height: 50px;
    }

    #refresh-button {
        font-size:calc(8px + 1.5vw);
    }

    .quiz-button {
        min-width: 100px;
    }

    #results {
        font-size:calc(6px + 1.0vw);
    }
}

@media only screen and (min-device-width : 1024px) {
   
    .multiple-choice-container {
        width: 75%;
    }

    .quiz-button-text {
        font-size:1vw;
    }

    .quiz-button {
        min-width: 100px;
    }

    #refresh-button {
        min-width: 15%;
        height: 5rem;
        font-size:1vw;
        overflow: hidden;
    }

    #results {
        font-size:1vw;
        overflow: hidden;
    }
}

